.navbar-inverse {
    color: #354964 !important;
    background-color: white !important;
  }

.navbar-brand {
    color: #354964 !important;
  }

.navbar-nav {
    color: #354964 !important;
}

#mainbox {
  margin-left:20px;
  margin-right:20px;
  width:100%
}

.row {
  padding-bottom:20px;
}

body {
  background-color: #7fb3ff !important;
}

.names {

}