{% extends "layout.html" -%}
{% block content -%}
<div id="mainbox" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">



<div style="margin: 0 auto; width:100%" class="row">
  <div class="col-xs-6 col-sm-3"><img src="static/img/bike.png" width="150px" height="150px" alt="some_text" ></div>
  <div class="col-xs-6 col-sm-3"><img src="static/img/bus.png" width="150px" height="150px" alt="some_text" ></div>
   <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-3"><img src="static/img/train.jpg" width="150px" height="150px" alt="some_text" ></div>
  <!-- Add the extra clearfix for only the required viewport -->
</div>

<div class="row">
  <div class="col-xs-12 col-md-8"></div>

<div class="col-xs-6 col-md-4"><h2>Leader Board</h2>
{% for row in theleaders%}
  <div class="row">
      <div class="col-xs-12 col-md-2">
      <img src="static/img/{{ row[2] }}.png" width="50px" height="50px" alt="some_text" >
      <div class="names">{{ row[0] }}</div>
      </div>
  <div class="col-xs-12 col-md-4"><h4>{{ row[3] }}</h4></div>
</div>
{% endfor %}
</div>

<div>

</div>
<!--
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>-->
  </div>
{%- endblock content %}