<!DOCTYPE html>
<html>
<head>
  <meta name="google-signin-client_id" content="282810351687-mgke4nloakmii97bn4nojamd0k2036p7.apps.googleusercontent.com">
<title>goPARKyourself!</title>
<style>

#signin {
    width: 50%;
    margin: 0 auto;
}

.abcRioButtonBlue {
  display: block;
    margin: auto;
    width: 40%;
}

body { 
    background-image: url('static/img/v1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:#7FB3FF; 
}
</style>
</head>
 <body>
<div id="outer" style="width:100%;text-align: center;">  
  <div id="signin"></div>
</div>
  

</div></a>
<div data-onsuccess="onSignIn"
   data-scope="https://www.googleapis.com/auth/plus.login"
   data-accesstype="offline"
   data-redirecturi="https://www.example.com/redirect_uri" style="align:center" id="signin"></div>
  <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('signin', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
 </body>
<!-- img style="display: float; margin-left: auto; margin-right: auto; vertical-align: middle;" src="v1.png" alt="interactive connection"  / -->
</body>
</html>
