{% raw %}
<html ng-app="get_counts">
        <head>
              	<title>CarCounts</title>
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        </head>

        <body ng-controller="car_counts">
                <div>
                     	<canvas id="myDrawing" width="800" height="500">
                                <p>Your browser doesn't support canvas.</p>
                        </canvas>

                        <p>Carpool Spots: {{car_counts.Carpool}}</p>
                </div>
                <script>
                        angular.module('get_counts', [])
                                .controller('car_counts', function($scope, $http) {
                                $scope.getData = function(){
                                        $http.get('http://gpy.io/apizone').
                                                then(function(response) {
                                                        $scope.car_counts = response.data;
                                                        var drawingCanvas = document.getElementById('myDrawing');
                                                        if(drawingCanvas.getContext) {
                                                                var context = drawingCanvas.getContext('2d');
                                                                if ($scope.car_counts.Carpool > 5){
                                                                        context.fillStyle = "red";
                                                                } else {
                                                                        context.fillStyle = "green";
                                                                }
                                                                context.fillRect(10, 10, 100, 100);
                                                        }
                                                });

                                        };

                                setInterval($scope.getData, 1000);

                        });
                </script>
        </body>
</html>
{% endraw %}
